danlo*
.idea
*.log
# go find your own...or check the commit history
arinc 424-18.pdf
LocalAirports
archived_cifps
*.zip

# HA! the FAACIFP18 doesnt have an extension
current_cifp/*.*

realairports

node_modules
p2w

#apt.dat
